/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-bestseller-block {
	border: 1px dotted #f00;
}

/* style.css */
.genre-dropdown-block {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* editor.css */
.genre-dropdown-block img {
    border-radius: 4px;
}
